@import "../../globals.scss";
.hero-secciones {
  height: 90vh;
  padding: $paddingLateralTop;
  .hero-secciones-h1 {
    font-size: $tamanioFuenteSubB;
    width: 90%;
    margin: 4% 0;
    line-height: 1.2;
    font-weight: 800;
    @media screen and (max-width: 800px) {
      font-size: $fuenteSubResp;
      margin: 15% 0;
    }
  }
  .hero-secciones-p {
    font-size: $tamanioFuenteNormal;
    width: 65%;
    margin: 6% 0;
    @media screen and (max-width: 800px) {
      width: 100%;
    }
  }
  @media screen and (max-width: 2200px) {
    height: auto;
  }
}
//---------secciones--------//
.secciones-main {
  padding: $paddingLateralTop;

  .secciones-titulo {
    font-size: $tamanioFuenteSubB;
    padding: 0% 3% 3% 0;
    width: 70%;
    line-height: 1;
    @media screen and (max-width: 800px) {
      font-size: $fuenteSubResp;
      width: 100%;
      padding: 4% 0;
    }
  }
  .secciones-subtitulo {
    font-size: $tamanioFuenteSubC;
    padding: 0% 3% 3% 0;
    width: 70%;
    @media screen and (max-width: 800px) {
      font-size: $fuenteSubRespDos;
      width: 100%;
      padding: 10% 0;
    }
  }
  .secciones-p {
    font-size: $tamanioFuenteNormal;
    font-family: "Avenir", sans-serif;
  }
  @media screen and (max-width: 800px) {
    padding: 12%;
  }
}
//----para seccion producto solamente----//

.secciones-piletas {
  margin: 5% 0 0 0;
}
//----Galeria----//
.galeria-main {
  padding: $paddingLateralTop;
  background-color: $fondoBlanco;

  .galeria-h2 {
    font-size: $tamanioFuenteSubB;
    padding: 0% 3% 8% 0;
    width: 70%;
    line-height: 1;
    @media screen and (max-width: 800px) {
      font-size: $fuenteSubResp;
      width: 100%;
    }
  }
}
//------------------------

.contDos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cont-cuadrado {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: -3;
  height: 100vh;
}
.cuadrado3 {
  position: relative;
  margin-right: 2rem;
  background-color: rgb(242, 0, 255);
  height: 80vh;
  width: 30vw;
  -webkit-box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
}
.cuadrado4 {
  position: relative;
  margin-right: 2rem;
  background-color: rgb(205, 157, 141);
  height: 50vh;
  width: 20vw;
  -webkit-box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 38px -22px rgba(0, 0, 0, 0.75);
}
.espacio {
  margin-bottom: 3em;
}
